@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    or https://docs.microsoft.com/es-mx/aspnet/core/tutorials/first-mvc-app/adding-view?view=aspnetcore-5.0&tabs=visual-studio
*@

@*  No se especificó un nombre de archivo de plantilla de vista, por lo que MVC usa el archivo de vista predeterminado.
    Cuando no se especifica el nombre del archivo de vista, se devuelve la vista predeterminada.
    En este ejemplo, la vista predeterminada tiene el mismo nombre que el método de acción (Index).*@

@{
    ViewData["Title"] = "Movie List";
}

<title>@ViewData["Title"] - Movie App</title>  @*Título de la pestaña*@

<h2>My Movies List</h2>

<p>Hello World from our view Template!</p>